body{
	font-size: 20px;
	margin:0;
	padding: 0;
	font-family: "Poppins",sans-serif;
}


header{
	
	text-align: center;
	font-weight: bold;
	background-color: #4caf50;
	
    
}



header img{
    width: 286px;
    height: 224px;
    margin-top: 13px;
}



header a{
	padding: 17px;
	text-decoration: none;
	font-family: "Poppins",sans-serif;
	color: white;
}


header a:hover {
    color: black;
    background-color: #3e8e41;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

section{
	
            margin-top: 37px;
            margin-block-end: 14px;
	}


section a{
	 font-family: "Poppins",sans-serif;
	 text-align: center;
	 color: #000000;
}

section img{
	width: 250px;
	height:250px;
	display: inline;
}


section h4{
	text-align: center;
    color: #4caf50;
	margin-top: -3px;

}

a{
	text-decoration: none;
}

 p{
     text-align: center;
	font-size: 15px;
	margin-top: -20px;
	color: black;
}




/*--------------------------------FORMULARIO------------------------------------*/

.contato h3{
    text-align: center;
}

input{
    text-align-last: auto;
}

.contato{
    text-align-last: center;
}

.input-nome, .input-email {
    width: 21%;
    height: 35px;
}
.input-assunto, .input-mensagem{
    width: 43%;
    height: 35px;
    margin-top: 15px;
}
.input-mensagem{
    height: 100px;
    margin-top: 15px;
}
.enviar{
	background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    margin-block-end: 50px;
}





/*---------------------------BOTÃO---------------------------*/



.botao {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botao-baixo {  /*deixar o dropdown do lado dos outros botoes*/
    position: relative;
    display: inline-block;
}

.opcoes-produtos {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.opcoes-produtos a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.opcoes-produtos a:hover {background-color: #f1f1f1

}

.botao-baixo:hover .opcoes-produtos {
    display: block;
}

.botao-baixo:hover .botao {
    background-color: #3e8e41;
    color: black;
}


section.tamanho{
    margin-top: 10px;
}

section.insert{
    margin-top: 100px;
}
/*-----------------------------------------RODAPÉ----------------------------*/

footer{
    background-color: #4caf50;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.texto{
    color: #fff;
}

.item-rodape{
    flex-wrap: wrap;
    width: 22.33%;
    margin-top: 34px;
    
}
.item-rodape-baixo{
    margin-top: 14px;
    
}

.icone-rodape{
	width: 30px;
}

.copyright{
    background-color: #317334;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

/* ---------------------------------------------------------SOBRE-----------------------------------------------------------------------------------------*/

section.sobre{
   font-size: 22px;
   text-align: center;
   margin-top: 150px;
   margin-block-end: 144px;

}


/*------------------------------------PRODUTO----------------------------------------*/

section .produto{
	width: 500px;
	height: 500px;
	margin-left: 143px;
}

section .descrição{
	size: 100px;
}
.produtos{
    width: 25%;
}


/*--------------------------------RESPOSIVIDADE----------------------------------------*/

@media  screen and (max-width: 1440px) {
    .produtos{
        text-align-last: center;
        
    }
    .row{
        padding-left: 113px;
        padding-right: 113px;
    }
    #hamburger-aparece, #hamburger-esconde{
        display: none;
    }
  }

  @media  screen and (max-width: 1024px) {
    .produtos{
        text-align-last: center;
        
    }
    .row{
        padding-left: 0px;
        padding-right: 0px;
    }
    #hamburger-aparece, #hamburger-esconde{
        display: none;
    }
    footer{
        justify-content: space-around;
        
    }
    .icone-rodape{
        margin-left: -22px;
    }
  }

  
  @media  screen and (max-width: 768px) {
    .produtos{
        width: 33.33%;
        
    }
    .row{
        padding-left: 0px;
        padding-right: 0px;
    }
    footer table {
         padding: 0px; 
         line-height: 0px; 
         margin-left: 0px; 
    }

    header img {
        width: 150px;
        height: 150px;
          }
    
    #hamburger-aparece, #hamburger-esconde{
        display: none;
    }
    header{
        font-size: 18px;
    }
    section img{
        width: 175px;
        height: 175px;
    }
}

@media screen and (max-width: 425px){
    footer  {
        display: none;
    }
   .produtos{
       width: 50%;
   }
   section img{
       width: 211px;
       height: 211px;
   }
   #hamburger-aparece, #hamburger-esconde{
       display: block;
       margin-top: -70px;
   }
   #hamburger-aparece img, #hamburger-esconde img{
    width: 43px;
    height: 43px;
   }

   header a, .botao-baixo{
       display: none;
       
   }
   header img{
    width: 236px;
    height: 222px;
   }
  .item-rodape{
    width: 54.33%;
  }
  .input-email, .input-nome{
    width: 42%;
  }
  .input-assunto, .input-mensagem{
    width: 87%;
  }
}

@media screen and (max-width: 375px){
    section img{
        width: 186px;
        height: 186px;
    }
    .item-rodape{
        width: 61.33%;
    }
}
@media screen and (max-width: 320px){
    section img{
        width: 150px;
        height: 150px;
    }
    .item-rodape{
        width: 72.33%;
    }
}